$sizes: ();
$initial-size: 56px;
$decrement: 2px;

@for $i from 1 through 25 {
  $index: if($i < 10, '0#{$i}', '#{$i}');
  $sizes: map-merge(
    $sizes,
    (
      '#{$index}':
        $initial-size -
        (
          $i - 1
        ) *
        $decrement
    )
  );
}
