.link-collection-page {
  position: relative;

  &-cover {
    position: relative;
    display: grid;
    padding: var(--spacer-base);
    overflow: hidden;
    text-align: center;
    border-radius: var(--border-radius-01);
    aspect-ratio: 16 / 9;
    place-items: center;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/media/elements/checkered-pattern.svg');
      background-repeat: repeat;
      background-size: cover;
      opacity: 0.5;
      filter: brightness(0);
      content: '';
    }
  }

  &__coverTitle {
    color: var(--color-text-01);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h5);
    line-height: var(--font-size-h4);

    @include line-clamp(4);
  }

  &__header {
    position: relative;
    display: block;
    margin-block-end: calc(var(--spacer-base) * 4);
  }

  &__title {
    color: var(--color-text-01);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-18);
    line-height: var(--font-size-h2);
    margin-block-end: calc(var(--spacer-base) / 2);
  }

  &__users {
    position: relative;
    margin-block-start: calc(var(--spacer-base) / 1.4);
    margin-block-end: calc(var(--spacer-base) / 1.4);
  }

  &-user {
    display: inline-flex;
    align-items: center;
    color: var(--color-text-02);

    &__avatar {
      margin-inline-end: calc(var(--spacer-base) / 2);
    }
  }

  .link-collection-page__linkCount {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-text-03);

    &__icon {
      margin-inline-end: calc(var(--spacer) / 1);
    }

    &__title {
      font-size: var(--font-size-text-22);
    }
  }

  .link-collection-privacy-badge,
  .link-collection-page__linkCount {
    display: inline-flex;
    padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 2);
    background-color: var(--color-ui-03);
    border-radius: var(--border-radius-01);
  }

  &__description {
    color: var(--color-text-02);
    font-size: var(--font-size-text-21);
    line-height: var(--font-size-h2);
    margin-block-end: calc(var(--spacer-base) * 2);
  }

  .link-collection-link-card-list {
    margin-block-end: calc(var(--spacer-base) * 4);
  }
}
