.reply-card {
  --user-avatar-width: 48px;

  position: relative;

  &__inner {
    position: relative;
    display: grid;
    grid-column-gap: calc(var(--spacer-base) / 2);
    grid-template-columns: var(--user-avatar-width) 1fr;
  }

  &-meta {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--spacer) * 2);

    &__user {
      margin-right: var(--spacer);
      color: var(--color-text-01);
      font-size: var(--font-size-text-21);
      text-decoration: none;

      @include font-weight-medium;

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }

    &__date {
      color: var(--color-text-01);
      font-size: var(--font-size-text-22);
      text-decoration: none;

      a {
        color: inherit;
        text-decoration: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__body {
    position: relative;
    padding: calc(var(--spacer-base) / 2);
    background-color: var(--color-ui-02);
    border-radius: var(--border-radius-01);
  }

  &-review {
    position: relative;
    margin-bottom: var(--spacer-base);

    &__text {
      color: var(--color-text-02);
      font-size: var(--font-size-text-21);
      line-height: var(--font-size-text-16);
    }
  }

  &-actions {
    position: relative;
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        .paper-button {
          background-color: var(--color-hover-02);
        }
      }

      &.like-button {
        --like-motion: cubic-bezier(0.19, 1, 0.22, 1);

        margin-right: calc(var(--spacer) * 5);

        @keyframes like {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(1.2);
          }

          100% {
            transform: scale(1);
          }
        }

        &:hover {
          .paper-button {
            background-color: color-mod(var(--color-danger-01) a(10%));

            .app-icon {
              color: var(--color-danger-01);
            }
          }
        }

        &--liked {
          .paper-button {
            animation: like 0.4s both var(--like-motion);

            .app-icon {
              color: var(--color-danger-01);
            }
          }
        }
      }

      &__button {
        margin-right: var(--spacer);
      }

      &__label {
        font-size: var(--font-size-text-22);
        font-variant-numeric: tabular-nums;
      }
    }
  }
}
