.reply-card {
  --user-avatar-width: 48px;

  @include media-breakpoint-down(md) {
    --user-avatar-width: 32px;
  }

  position: relative;

  &__inner {
    position: relative;
    display: grid;
    grid-column-gap: calc(var(--spacer-base) / 2);
    grid-template-columns: var(--user-avatar-width) 1fr;

    @include media-breakpoint-down(md) {
      grid-column-gap: calc(var(--spacer-base) / 4);
    }
  }

  &__avatar {
    position: relative;
    width: var(--user-avatar-width);

    .vs-avatar,
    img {
      width: var(--user-avatar-width);
      height: var(--user-avatar-width);
    }
  }

  &-meta {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--spacer) * 2);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__user {
      margin-right: var(--spacer);
      color: var(--color-text-01);
      font-size: var(--font-size-text-21);
      text-decoration: none;

      @include font-weight-medium;

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }

    &__date {
      display: inline-flex;
      color: var(--color-text-01);
      font-size: var(--font-size-text-22);
      text-decoration: none;

      @include media-breakpoint-down(md) {
        font-size: var(--font-size-text-23);
      }

      a {
        color: inherit;
        text-decoration: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__body {
    position: relative;
    padding: calc(var(--spacer-base) / 2);
    background-color: var(--color-ui-02);
    border-radius: var(--border-radius-01);
  }

  &-review {
    position: relative;
    margin-bottom: var(--spacer-base);

    @include media-breakpoint-down(md) {
      margin-bottom: calc(var(--spacer-base) / 2);
    }

    &__text {
      color: var(--color-text-02);
      font-size: var(--font-size-text-21);
      line-height: var(--font-size-text-16);
      white-space: pre-line;
    }
  }

  &-actions {
    position: relative;
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      color: var(--color-icon-01);
      cursor: pointer;

      @media (hover: none) {
        svg {
          color: var(--color-icon-01) !important;
        }
      }

      &:hover {
        .paper-button {
          background-color: var(--color-hover-01);
        }
      }

      &.like-button {
        --like-motion: cubic-bezier(0.19, 1, 0.22, 1);

        margin-right: calc(var(--spacer) * 5);

        @keyframes like {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(1.2);
          }

          100% {
            transform: scale(1);
          }
        }

        &:hover {
          .paper-button {
            background-color: color-mix(in oklab, var(--color-danger-01), #fff 90%);

            .app-icon {
              color: var(--color-danger-01);
            }
          }
        }

        &--liked {
          .paper-button {
            animation: like 0.4s both var(--like-motion);

            .app-icon {
              color: var(--color-danger-01) !important;
              fill: var(--color-danger-01) !important;

              svg {
                color: var(--color-danger-01) !important;
                fill: var(--color-danger-01) !important;
              }
            }
          }
        }
      }

      &.reply-button {
        margin-right: calc(var(--spacer) * 5);

        &:hover {
          .paper-button {
            background-color: color-mix(in oklab, var(--color-info-01), #fff 90%);

            .app-icon {
              color: var(--color-info-01);
            }
          }
        }
      }

      &.edit-button {
        margin-right: calc(var(--spacer) * 5);

        @include media-breakpoint-down(md) {
          margin-right: calc(var(--spacer) * 2);
        }

        &:hover {
          .paper-button {
            background-color: color-mix(in oklab, var(--color-danger-02), #fff 90%);

            .app-icon {
              color: var(--color-danger-02);
            }
          }
        }

        .review-card-actions-item__label {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }

      &.delete-button {
        margin-right: calc(var(--spacer) * 5);

        @include media-breakpoint-down(md) {
          margin-right: calc(var(--spacer) * 2);
        }

        &:hover {
          .paper-button {
            background-color: color-mix(in oklab, var(--color-warning-01), #fff 90%);

            .app-icon {
              color: var(--color-warning-01);
            }
          }
        }

        .review-card-actions-item__label {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }

      &__button {
        margin-right: var(--spacer);
      }

      &__label {
        font-size: var(--font-size-text-22);
        font-variant-numeric: tabular-nums;
        user-select: none;
      }
    }
  }
}
