$colors: (
  'brand': (
    '01': #161616,
    '02': #293036,
    '03': #eee
  ),
  'ui': (
    '01': #f1f1f1,
    '02': #fff,
    '03': #f8f8f8
  ),
  'field': (
    '01': #f4f4f4,
    '02': #fff
  ),
  'skeleton': (
    '01': #eee,
    '02': #ddd
  ),
  'border': (
    '01': #ededed,
    '02': #ccc,
    '03': #8d8d8d
  ),
  'text': (
    '01': #293036,
    '02': #353c41,
    '03': #555f67,
    '04': #656f76
  ),
  'link': (
    '01': #32516c
  ),
  'icon': (
    '01': #565656,
    '02': #555f67
  ),
  'hover': (
    '01': #f9f9f9,
    '02': #e5e5e5
  ),
  'active': (
    '01': #f9f9f9
  ),
  'disabled': (
    '01': #c4c4c4
  ),
  'danger': (
    '01': #ff4757
  ),
  'warning': (
    '01': #ffba00
  ),
  'success': (
    '01': #46c93a
  ),
  'info': (
    '01': #1b73ad
  ),
  'overlay': (
    '01': rgba(0, 0, 0, 0.1),
    '02': rgba(255, 255, 255, 0.9)
  ),
  'social': (
    'google': #ea4436,
    'apple': #000
  )
);
