.delete-comment-dialog {
  z-index: var(--z-index-overlay);

  .vs-dialog {
    &__header {
      padding: calc(var(--spacer-base) / 2);
    }
  }

  &__comment {
    position: relative;
    margin-bottom: var(--spacer-base);
  }
}
