@charset "UTF-8";

::selection {
  color: #fff;
  background: #444;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: clip;
  color: var(--color-text-01);
  background-color: var(--color-ui-01);
  background-image: url(~/assets/media/elements/mesh.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;

  @include font-family-work-sans;
  @include font-weight-medium;
}

a {
  color: var(--color-link-01);
  text-decoration: none;
}
