.embed-reviews-page {
  $embed-reviews-page: '.embed-reviews-page';

  position: relative;

  &:not(:has(.embed-reviews-page-comment-form)) {
    .review-list {
      &__noResults {
        padding-block-end: calc(var(--spacer-base) * 4);
      }
    }
  }

  &-reactions {
    position: relative;
    margin-block: var(--spacer-base);
    margin-block-start: calc(var(--spacer) * 12);
    left: calc(var(--spacer) * 1);
  }

  &-review-list {
    position: relative;

    &-head {
      display: flex;
      align-items: center;
      margin-bottom: var(--spacer-base);

      &__icon {
        margin-right: calc(var(--spacer) * 2);

        @include media-breakpoint-down(md) {
          width: 24px !important;
          height: 24px !important;

          svg {
            width: inherit;
            height: inherit;
          }
        }
      }

      &__title {
        font-size: var(--font-size-h3);

        @include media-breakpoint-down(md) {
          font-size: var(--font-size-h4);
        }
      }
    }

    .review-card {
      &__avatar {
        pointer-events: none;
      }

      &-meta {
        pointer-events: none;
      }
    }

    .reply-card {
      &__avatar {
        pointer-events: none;
      }

      &-meta {
        pointer-events: none;
      }
    }
  }

  &-comment-form {
    margin-bottom: var(--spacer-base);

    &__title {
      display: flex;
      align-items: flex-start;
      margin-bottom: var(--spacer-base);
      font-size: var(--font-size-text-17);

      @include media-breakpoint-down(md) {
        font-size: var(--font-size-text-20);
      }
    }

    .comment-form-card {
      &__avatar {
        pointer-events: none;
      }
    }
  }
}

.embed-document {
  .reply-dialog {
    .reply-dialog-summary-user {
      &__avatar {
        pointer-events: none;
      }
    }

    .comment-form-card {
      &__avatar {
        pointer-events: none;
      }
    }
  }

  .edit-comment-dialog {
    .comment-form-card {
      &__avatar {
        pointer-events: none;
      }
    }
  }
}
