.reviews-page {
  position: relative;

  .sidebar {
    position: relative;

    @include media-breakpoint-down(lg) {
      margin-block-end: var(--spacer-base);
    }
  }

  &-review-meta {
    --avatar-width: 46px;
    --avatar-height: 46px;

    @include media-breakpoint-down(lg) {
      --avatar-width: 36px;
      --avatar-height: 36px;
    }

    display: grid;
    grid-column-gap: calc(var(--spacer-base) / 2);
    grid-template-columns: var(--avatar-height) 1fr;
    margin-block-end: calc(var(--spacer-base) * 2);
    padding-block-end: var(--spacer-base);
    border-bottom: 1px solid var(--color-border-01);

    @include media-breakpoint-down(md) {
      padding-block-end: calc(var(--spacer-base) / 2);
      margin-block-end: calc(var(--spacer-base) / 1);
    }

    &__avatarTooltip {
      display: inline-flex;
      width: var(--avatar-width);
      height: var(--avatar-height);
    }

    &__avatar {
      width: var(--avatar-width);
      height: var(--avatar-height);
      border-radius: var(--border-radius-01);
      box-shadow: var(--box-shadow-01);

      img {
        width: 16px;
        height: 16px;
        object-fit: cover;
      }
    }

    &__body {
      position: relative;
      width: 100%;
      margin-top: calc(var(--avatar-height) / 2 - var(--font-size-h2) / 1.8);
      word-wrap: break-word;

      @include media-breakpoint-down(lg) {
        width: calc(100% - var(--spacer-base));
      }
    }

    &__title {
      display: block;
      font-size: var(--font-size-h2);

      @include font-weight-bold;

      @include media-breakpoint-down(lg) {
        font-size: var(--font-size-h3);
      }

      @include media-breakpoint-down(md) {
        font-size: var(--font-size-h4);
      }
    }

    &__url {
      display: grid;
      grid-column-gap: var(--spacer);
      grid-template-columns: auto 1fr;
      align-items: center;

      a {
        display: block;
        width: 90%;
        margin: calc(var(--spacer-base) / 4) 0;
        overflow: hidden;
        color: var(--color-link-01);
        font-size: var(--font-size-h5);
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;

        @include font-weight-regular;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-reactions {
    position: relative;
    margin-block-start: var(--spacer-base);

    @include media-breakpoint-down(md) {
      left: -46px;
      width: 100vw;
    }
  }

  &-review-list {
    position: relative;

    &-head {
      display: flex;
      align-items: center;
      margin-bottom: var(--spacer-base);

      &__icon {
        margin-right: calc(var(--spacer) * 2);

        @include media-breakpoint-down(md) {
          width: 24px !important;
          height: 24px !important;

          svg {
            width: inherit;
            height: inherit;
          }
        }
      }

      &__title {
        font-size: var(--font-size-h3);

        @include media-breakpoint-down(md) {
          font-size: var(--font-size-h4);
        }
      }
    }
  }

  &-comment-form {
    margin-bottom: var(--spacer-base);

    &__title {
      display: flex;
      align-items: flex-start;
      margin-bottom: var(--spacer-base);
      font-size: var(--font-size-text-17);

      @include media-breakpoint-down(md) {
        font-size: var(--font-size-text-20);
      }
    }
  }
}
