.link-collection-link-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  background-color: var(--color-ui-02);
  border: 1px solid transparent;
  border-radius: var(--border-radius-01);
  box-shadow: var(--box-shadow-01);

  &:hover {
    border: 1px solid var(--color-brand-01);
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--color-text-04);
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #060605), to(#21252c));
    border-radius: var(--border-radius-01) var(--border-radius-01) 0 0;
    aspect-ratio: 1.91/1;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/media/elements/checkered-pattern.svg');
      background-repeat: repeat;
      background-size: cover;
      opacity: 0.5;
      filter: brightness(0);
      content: '';
    }
  }

  &__actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    padding: calc(var(--spacer) * 2);
  }

  &-action-item {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--color-ui-02) !important;
    margin-inline-end: calc(var(--spacer) * 2) !important;
    box-shadow: var(--box-shadow-02);

    &__title {
      margin-inline-start: var(--spacer);
    }
  }

  .link-collection-link-card-more-dropdown {
    margin-inline-start: auto;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--border-radius-01);
    border-top-right-radius: var(--border-radius-01);
  }

  &__domain {
    color: var(--color-text-01);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-21);
  }

  &__body {
    position: relative;
    display: block;
    height: 72px;
    padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
  }

  &__icon {
    margin-right: var(--spacer);

    @include media-breakpoint-down(md) {
      width: 20px !important;
      height: 20px !important;

      svg {
        width: inherit;
        height: inherit;
      }
    }
  }

  &__title {
    color: var(--color-text-01);
    font-size: var(--font-size-text-22);
    margin-block-end: calc(var(--spacer-base) / 4);

    @include line-clamp(2);

    @include media-breakpoint-down(md) {
      font-size: var(--font-size-text-22);
    }
  }

  &__description {
    color: var(--color-text-03);
    font-size: var(--font-size-text-23);
    margin-block-end: calc(var(--spacer-base) / 2);

    @include line-clamp(1);
  }

  &__footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
    margin-block-start: auto;
  }

  &-link {
    position: relative;
    display: none;
    gap: var(--spacer);
    align-items: flex-start;
    padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 2);
    background-color: var(--color-ui-03);
    border-radius: var(--border-radius-01);
    margin-block-end: calc(var(--spacer-base) / 2);

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }

    &__title {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      font-size: var(--font-size-text-24);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__favicon {
    position: relative;
    border-radius: 100%;
    margin-inline-end: calc(var(--spacer-base) / 4);
  }

  &-date,
  &__footerDomain {
    position: relative;
    display: block;
    color: var(--color-text-03);
    font-size: var(--font-size-text-24);
    white-space: nowrap;
  }

  &__footerDomain {
    display: block;
    max-width: 132px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-date {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    text-overflow: ellipsis;
    margin-inline-start: auto;
  }
}
