.app-header {
  $app-header: '.app-header';

  position: var(--header-position);
  z-index: var(--z-index-header);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: var(--header-height);
  background-color: transparent;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Variants
  &--default {
    background-color: var(--color-ui-02);
  }

  &--home {
    .app-logo {
      display: none;
    }
  }
}
