:root {
  /* Brand */
  --color-brand-01: #161616;
  --color-brand-02: #293036;
  --color-brand-03: #eee;

  /* Elements */
  --color-ui-01: #f4f4f4;
  --color-ui-02: #fff;
  --color-ui-03: #f8f8f8;
  --color-field-01: #fff;
  --color-field-02: #ddd;
  --color-skeleton-01: #eee;
  --color-skeleton-02: #ddd;

  /* Borders */
  --color-border-01: #ededed;
  --color-border-02: #ccc;

  /* Typographic */
  --color-text-01: #293036;
  --color-text-02: #353c41;
  --color-text-03: #555f67;
  --color-link-01: #32516c;
  --color-icon-01: #555f67;

  /* Interactive */
  --color-hover-01: #f9f9f9;
  --color-hover-02: #e5e5e5;
  --color-active-01: #bebebe;
  --color-selected-01: #dcdcdc;
  --color-disabled-01: #c4c4c4;

  /* Denotative */
  --color-danger-01: #fd0000;
  --color-warning-01: #fff14b;
  --color-success-01: #25d366;
  --color-info-01: #5dc3e9;

  /* Overlays */
  --color-overlay-01: rgba(0, 0, 0, 0.1);
  --color-overlay-02: rgba(255, 255, 255, 0.9);
}
