:root {
  /* Brand */
  --color-brand-01: #161616;
  --color-brand-02: #293036;
  --color-brand-03: #eee;

  /* Elements */
  --color-ui-01: #f4f4f4;
  --color-ui-02: #fff;
  --color-ui-03: #f8f8f8;
  --color-field-01: #f4f4f4;
  --color-field-02: #fff;
  --color-skeleton-01: #eee;
  --color-skeleton-02: #ddd;

  /* Borders */
  --color-border-01: #ededed;
  --color-border-02: #ccc;
  --color-border-03: #8d8d8d;

  /* Typographic */
  --color-text-01: #293036;
  --color-text-02: #353c41;
  --color-text-03: #555f67;
  --color-link-01: #32516c;
  --color-icon-01: #565656;
  --color-icon-02: #555f67;
  --color-icon-03: #fff;

  /* Interactive */
  --color-hover-01: #f9f9f9;
  --color-hover-02: #e5e5e5;
  --color-active-01: #f9f9f9;
  --color-active-02: #e5e5e5;
  --color-active-02: #bebebe;
  --color-disabled-01: #c4c4c4;

  /* Denotative */
  --color-danger-01: rgba(255, 71, 87, 1);
  --color-warning-01: rgba(255, 186, 0, 1);
  --color-success-01: rgba(70, 201, 58, 1);
  --color-info-01: rgb(27, 115, 173);

  /* Overlays */
  --color-overlay-01: rgba(0, 0, 0, 0.1);
  --color-overlay-02: rgba(255, 255, 255, 0.9);
}
