.link-collection-card {
  position: relative;
  width: 100%;
  background-color: var(--color-ui-02);
  border: 1px solid transparent;
  border-radius: var(--border-radius-01);
  box-shadow: var(--box-shadow-01);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-brand-01);
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 21/9;
    color: var(--color-text-04);
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #060605), to(#21252c));
    border-radius: var(--border-radius-01) var(--border-radius-01) 0 0;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/media/elements/checkered-pattern.svg');
      background-repeat: repeat;
      background-size: cover;
      opacity: 0.5;
      filter: brightness(0);
      content: '';
    }
  }

  &__featuredTitle {
    display: -webkit-box;
    overflow: hidden;
    color: var(--color-text-01);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-21);
    margin-block-start: calc(var(--spacer) * 3);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__favicon {
    position: absolute;
    top: calc(var(--spacer-base) / 2);
    left: calc(var(--spacer-base) / 2);
    border-radius: 100%;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .link-collection-card-more-dropdown {
    $v-dropdown-menu: '.v-dropdown-menu';

    top: calc(var(--spacer) * 2);
    right: calc(var(--spacer) * 2);

    #{$v-dropdown-menu} {
      &__trigger {
        &:hover {
          background-color: rgba(0, 0, 0, 0.16);

          .paper-button {
            background-color: transparent;
          }
        }

        .paper-button {
          .app-icon {
            color: var(--color-text-01);
          }
        }
      }
    }
  }

  &__body {
    position: relative;
    display: block;
    padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    color: var(--color-text-01);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-21);
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    @include media-breakpoint-down(md) {
      font-size: var(--font-size-text-21);
    }
  }

  &__description {
    display: block;
    margin-block-start: calc(var(--spacer-base) / 2);
    color: var(--color-text-03);
    font-size: var(--font-size-text-23);
  }

  .link-collection-privacy-badge {
    margin-block-start: calc(var(--spacer-base) / 4);
  }

  &__description {
    display: none;
  }

  &__users {
    position: relative;
  }

  &-user {
    display: flex;
    align-items: center;
    color: var(--color-text-02);

    &__avatar {
      margin-inline-end: calc(var(--spacer-base) / 4);
    }
  }

  &__footer {
    margin-block-start: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
  }

  &-bookmark-count {
    display: inline-flex;
    align-items: center;
    padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 3);
    color: var(--color-text-02);
    font-size: var(--font-size-text-22);
    background-color: var(--color-ui-03);
    border-radius: var(--border-radius-01);

    &__icon {
      width: 14px;
      height: 14px;
      margin-inline-end: calc(var(--spacer-base) / 4);

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-date {
    position: relative;
    color: var(--color-text-03);
    font-size: var(--font-size-text-22);
  }
}
