.link-collection-card {
  position: relative;
  width: 100%;
  padding: calc(var(--spacer-base) / 2);
  background-color: var(--color-ui-02);
  border: 1px solid transparent;
  border-radius: var(--border-radius-01);
  box-shadow: var(--box-shadow-01);
  aspect-ratio: 16/9;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-brand-01);
  }

  &__header {
    position: relative;
    margin-block-end: calc(var(--spacer-base) / 2);
  }

  &-user {
    display: flex;
    align-items: center;

    &__avatar {
      margin-inline-end: calc(var(--spacer-base) / 2);
    }
  }

  &__body {
    position: relative;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    color: var(--color-text-02);
    font-size: var(--font-size-text-20);
    margin-block-end: calc(var(--spacer-base) / 2);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-privacy {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-text-03);

    &__icon {
      margin-inline-end: calc(var(--spacer) / 1);
    }

    &__title {
      font-size: var(--font-size-text-22);
    }
  }

  &__description {
    display: none;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--spacer-base) / 2);
  }

  &-bookmark-count {
    display: inline-flex;
    align-items: center;
    padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 3);
    color: var(--color-text-03);
    font-size: var(--font-size-text-21);
    background-color: var(--color-ui-03);
    border-radius: var(--border-radius-01);

    &__icon {
      width: 14px;
      height: 14px;
      margin-inline-end: calc(var(--spacer-base) / 4);

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-date {
    position: relative;
    color: var(--color-text-03);
    font-size: var(--font-size-text-22);
  }
}
