.link-collection-card {
  position: relative;
  width: 100%;
  background-color: var(--color-ui-02);
  border: 1px solid transparent;
  border-radius: var(--border-radius-01);
  box-shadow: var(--box-shadow-01);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-brand-01);
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacer-base);
    color: var(--color-text-04);
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #060605), to(#21252c));
    border-radius: var(--border-radius-01) var(--border-radius-01) 0 0;
    aspect-ratio: 21/9;

    @include media-breakpoint-down(md) {
      float: left;
      width: 52px;
      height: 52px;
      margin: calc(var(--spacer) * 3);
      padding: var(--spacer);
      border-radius: var(--border-radius-01);
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/media/elements/checkered-pattern.svg');
      background-repeat: repeat;
      background-size: cover;
      opacity: 0.5;
      filter: brightness(0);
      content: '';
    }
  }

  &__featuredTitle {
    color: var(--color-text-01);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-21);
    margin-block-start: calc(var(--spacer) * 3);

    @include line-clamp(4);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__letter {
    display: none;
    color: var(--color-text-01);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-18);

    @include media-breakpoint-down(md) {
      display: inline-block;
    }
  }

  &__favicon {
    position: absolute;
    top: calc(var(--spacer-base) / 2);
    left: calc(var(--spacer-base) / 2);
    border-radius: 100%;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

  .link-collection-card-more-dropdown {
    $v-dropdown-menu: '.v-dropdown-menu';

    top: calc(var(--spacer) * 2);
    right: calc(var(--spacer) * 2);
  }

  &__body {
    position: relative;
    display: block;
    padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__title {
    width: 100%;
    overflow: hidden;
    color: var(--color-text-01);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-text-21);
    word-wrap: break-word;
    margin-block-end: calc(var(--spacer) * 3);

    @include line-clamp(1);

    @include media-breakpoint-down(md) {
      width: 90%;
      font-size: var(--font-size-text-22);
      margin-block-end: calc(var(--spacer) * 2);
    }
  }

  &__description {
    display: block;
    color: var(--color-text-03);
    font-size: var(--font-size-text-23);
    margin-block-start: calc(var(--spacer-base) / 2);
  }

  .link-collection-privacy-badge {
    margin-block-start: calc(var(--spacer-base) / 4);

    &::after {
      @include media-breakpoint-down(md) {
        display: block;
        width: 4px;
        height: 4px;
        margin-left: 8px;
        background-color: var(--color-text-03);
        border-radius: 100%;
        opacity: 0.5;
        content: '';
      }
    }

    @include media-breakpoint-down(md) {
      margin-block-start: calc(var(--spacer) / 6);
      margin-inline-end: calc(var(--spacer) * 2);
    }

    &__icon {
      svg {
        @include media-breakpoint-down(md) {
          width: 14px !important;
          height: 14px !important;
        }
      }
    }

    &__title {
      @include media-breakpoint-down(md) {
        font-size: var(--font-size-text-23);
      }
    }
  }

  &__description {
    display: none;
  }

  &__users {
    position: relative;
  }

  &-user {
    display: flex;
    align-items: center;
    color: var(--color-text-02);

    &__avatar {
      margin-inline-end: calc(var(--spacer-base) / 4);

      @include media-breakpoint-down(md) {
        width: 24px;
        height: 24px;
      }
    }

    &__username {
      @include media-breakpoint-down(md) {
        font-size: var(--font-size-text-22);
        margin-block-start: calc(var(--spacer) / 2);
      }
    }
  }

  &__footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
    margin-block-start: auto;
  }

  &-link-count {
    position: relative;
    bottom: calc(var(--spacer) * 1 * -1);
    display: inline-flex;
    align-items: center;
    padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 3);
    color: var(--color-text-02);
    font-size: var(--font-size-text-22);
    white-space: nowrap;
    background-color: var(--color-ui-03);
    border-radius: var(--border-radius-01);
    margin-inline-start: auto;

    @include media-breakpoint-down(md) {
      bottom: unset;
      padding: 0;
      font-size: var(--font-size-text-23);
      background-color: transparent;
      margin-inline-start: unset;
    }

    &__icon {
      width: 16px;
      height: 16px;
      margin-inline-end: calc(var(--spacer-base) / 4);

      @include media-breakpoint-down(md) {
        width: 14px;
        height: 14px;
        margin-inline-end: calc(var(--spacer) * 1);
      }

      svg {
        width: inherit !important;
        height: inherit !important;
      }
    }
  }

  &-date {
    position: relative;
    color: var(--color-text-03);
    font-size: var(--font-size-text-22);

    @include media-breakpoint-down(md) {
      font-size: var(--font-size-text-23);
      margin-block-start: calc(var(--spacer) / 2);
    }
  }
}
