.url-link-card {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 2);
  background-color: var(--color-ui-02);
  border-radius: var(--border-radius-01);

  &__icon {
    margin-right: var(--spacer);
  }

  &__title {
    font-size: var(--font-size-text-20);
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}
