.layout {
  $layout: '.layout';

  position: relative;

  &__inner {
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - 0rem);
    padding-top: calc(var(--header-height) + 0rem);
  }

  .router-view {
    position: relative;
  }
}
