.settings-layout {
  $layout: '.layout';

  position: relative;

  #{$layout} {
    &__inner {
      position: relative;
    }
  }

  .sidebar {
    @include media-breakpoint-down(lg) {
      margin-block-end: var(--spacer-base);
    }
  }

  .page {
    .form {
      padding: calc(var(--spacer-base) / 2) var(--spacer-base);
      background-color: var(--color-ui-02);
      border-radius: var(--border-radius-01);
    }
  }
}
