.settings-nav {
  position: relative;
  padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
  background-color: var(--color-ui-02);
  border-radius: var(--border-radius-01);

  &-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: calc(var(--spacer-base) / 4);
    padding: calc(var(--spacer-base) / 2) calc(var(--spacer-base) / 2);
    color: var(--color-text-02);
    background-color: transparent;
    border-radius: inherit;

    &:hover {
      background-color: var(--color-hover-01);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__icon {
      margin-inline-end: calc(var(--spacer-base) / 4);
    }

    &.nuxt-link-active {
      color: var(--color-link-01);
      background-color: var(--color-active-01);
    }
  }
}
