.reply-dialog {
  z-index: var(--z-index-overlay);

  .vs-dialog {
    width: 75%;

    &__header {
      padding: calc(var(--spacer-base) / 2);
    }
  }

  &-summary {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--spacer-base) * 1);
    padding: calc(var(--spacer-base) / 1.5) calc(var(--spacer-base) / 2);
    background-color: color-mix(in oklab, var(--color-info-01), #fff 95%);
    border-bottom: 4px solid var(--color-border-01);
    border-left: 4px solid var(--color-border-01);
    border-radius: calc(var(--border-radius-01) / 2);

    &:before {
      position: absolute;
      bottom: -50px;
      left: 20px;
      width: 0px;
      height: 46px;
      background-color: transparent;
      border: 2px solid var(--color-border-01);
      content: '';
    }

    &__user {
      display: block;
      margin-bottom: calc(var(--spacer-base) / 4);
      font-size: var(--font-size-text-21);

      @include font-weight-semi-bold;
    }

    &__content {
      font-size: var(--font-size-text-21);
    }
  }

  .comment-form {
    &-card {
      margin: 0;
    }
  }
}
