.profile-dropdown {
  $v-dropdown-menu: '.v-dropdown-menu';

  position: relative;
  display: flex;

  #{$v-dropdown-menu} {
    &__trigger {
      position: relative;
      display: flex;
      align-items: center;
      padding: calc(var(--spacer-base) / 6) calc(var(--spacer-base) / 4);
      border-radius: var(--border-radius-01);
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      &:hover {
        background-color: var(--color-hover-02);
      }
    }

    &__container {
      margin-top: calc(var(--spacer-base) / 2);
      background-color: var(--color-ui-02);
      border: 0;
      border-radius: var(--border-radius-01);
      box-shadow: var(--box-shadow-01);
    }
  }

  &-avatar {
    @include media-breakpoint-down(sm) {
      width: 32px !important;
      height: 32px !important;

      .vs-avatar-content,
      img,
      svg {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  &__username {
    max-width: 164px;
    margin-left: calc(var(--spacer-base) / 4);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include font-weight-medium;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &-list {
    position: relative;
    padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 4);

    &-item {
      $profile-dropdown-list-item: '.profile-dropdown-list-item';

      list-style: none;

      &--profile {
        #{$profile-dropdown-list-item} {
          &__icon {
            position: relative;
            left: calc(var(--spacer) * -1);
            margin-inline-end: calc(var(--spacer) * 3);
          }
        }
      }

      &--logout {
        margin: calc(var(--spacer) * 2) 0;
        padding-block-start: calc(var(--spacer) * 2);
        border-top: 1px solid var(--color-border-01);
      }

      &:last-child {
        margin-block-end: 0;
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        padding: calc(var(--spacer-base) / 4) calc(var(--spacer-base) / 4);
        color: var(--color-text-02);
        border-radius: var(--border-radius-01);

        &:hover {
          background-color: var(--color-hover-01);
        }
      }

      &__icon {
        --avatar-width: 24px;

        margin-right: calc(var(--avatar-width) - var(--spacer));
      }

      &__title {
        font-size: var(--font-size-text-21);
      }
    }
  }
}
