.cookie-dialog {
  $vs-dialog: '.vs-dialog';

  &.vs-dialog-content {
    top: auto;
    bottom: calc(var(--spacer-base) * 2);
    left: var(--spacer-base);
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    transform: none !important;
    transition: 0 !important;

    @include media-breakpoint-down(md) {
      bottom: var(--spacer-base);
    }

    @include media-breakpoint-down(sm) {
      bottom: calc(var(--spacer) * 2);
      left: calc(var(--spacer) * 2);
    }
  }

  #{$vs-dialog} {
    margin: 0;
    padding: 0;
    background-color: transparent;
    transform: none !important;
    transition: 0 !important;

    &__content {
      max-width: 95%;
      padding: 0;
      padding: calc(var(--spacer) * 4) calc(var(--spacer) * 6);
      background-color: var(--color-ui-02);
      border: 1px solid var(--color-border-01);
      box-shadow: var(--box-shadow-02);
      transform: none !important;
      transition: 0 !important;

      @include media-breakpoint-down(md) {
        max-width: 75%;
      }

      @include media-breakpoint-down(sm) {
        max-width: 100%;
      }
    }
  }

  &__description {
    margin-block: calc(var(--spacer) * 4);

    @include media-breakpoint-down(md) {
      font-size: var(--font-size-text-22);
    }

    a {
      text-decoration: underline;
    }
  }
}
