.home-layout {
  $layout: '.layout';

  position: relative;

  #{$layout} {
    &__inner {
      z-index: 2;
      display: flex;
      align-items: center;
      width: 100%;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: url('~/assets/media/elements/grid-bg.png');
        background-repeat: no-repeat;
        background-position: center -250px;
        opacity: 0.2;
        filter: invert(1);
        content: '';

        @include media-breakpoint-down(md) {
          background-position: center -25vh;
          background-size: var(--breakpoint-md) 50vh;
          opacity: 0.2;
        }

        @include media-breakpoint-down(sm) {
          background-size: var(--breakpoint-sm) 50vh;
        }
      }
    }
  }
}
