.reaction-button-group {
  position: relative;
  display: inline-flex;

  &--isBusy {
    pointer-events: none;
  }

  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.06);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .reaction-button {
    $reaction-button: '.reaction-button';

    position: relative;
    background-color: transparent;
    border: 0;
    outline: none;

    &--isBusy {
      animation: scaleAnimation 1s infinite;
    }

    &--active {
      #{$reaction-button} {
        &__icon {
          svg {
            transform: scale(1.2);
          }
        }
      }
    }

    &[disabled] {
      pointer-events: none !important;
    }

    &:hover {
      #{$reaction-button} {
        &__icon {
          svg {
            transform: scale(1.1);
          }
        }
      }
    }

    &__icon {
      position: relative;

      svg {
        transform-origin: bottom;
        transition: 0.4s var(--motion-01);
      }
    }

    &__label {
      display: inline-block;
      color: var(--color-text-03);
      font-size: var(--font-size-text-23);
      cursor: pointer;
      margin-block-start: var(--spacer);

      @include font-weight-extra-bold;
    }
  }
}
