.vs-button {
  $vs-button: '.vs-button';

  --button-height: auto;

  height: auto;
  padding: var(--spacer) calc(var(--spacer-base) / 2) !important;
  padding-right: calc(var(--spacer-base) / 2) !important;
  padding-left: calc(var(--spacer-base) / 2) !important;

  @include font-family-work-sans;
}
