.comment-form {
  position: relative;

  &-card {
    --user-avatar-width: 48px;

    @include media-breakpoint-down(md) {
      --user-avatar-width: 32px;
    }

    position: relative;
    display: grid;
    grid-column-gap: calc(var(--spacer-base) / 2);
    grid-template-columns: var(--user-avatar-width) 1fr;
    margin-bottom: calc(var(--spacer-base) / 2);

    @include media-breakpoint-down(md) {
      grid-column-gap: calc(var(--spacer-base) / 4);
    }

    &:not(:has(.comment-form-card__avatar)) {
      grid-template-columns: 1fr;
    }

    &__avatar {
      position: relative;
      width: var(--user-avatar-width);

      .vs-avatar,
      img {
        width: var(--user-avatar-width);
        height: var(--user-avatar-width);
      }
    }

    &__body {
      position: relative;
      padding: calc(var(--spacer-base) / 2);
      background-color: var(--color-ui-02);
      border-radius: var(--border-radius-01);
      box-shadow: var(--box-shadow-01);
    }

    &__textarea {
      &.app-textarea {
        textarea {
          display: block;
          width: 100%;
          min-height: 92px;
          margin-bottom: calc(var(--spacer-base) / 4);
          padding: calc(var(--spacer-base) / 3);
          font: inherit;
          background-color: var(--color-field-02);
          border: 1px solid var(--color-border-01);
          border-radius: calc(var(--border-radius-01) / 2);
          resize: none;
        }
      }
    }

    &__hint {
      display: block;
      margin-block-start: var(--spacer);
      margin-block-end: var(--spacer-base);
      color: var(--color-text-03);
      font-size: var(--font-size-text-23);
    }
  }

  &__submitButton {
    display: block;
    min-width: 92px;
    margin-left: auto;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
    }
  }
}
