.link-collections-dialog {
  $vs-dialog: '.vs-dialog';

  z-index: var(--z-index-overlay);

  #{$vs-dialog} {
    max-width: 100%;

    &__header {
      padding: calc(var(--spacer-base) / 2);
    }

    &__content {
      width: map-get($container-max-widths, 3xl);
      max-width: 100%;
      max-height: 50vh;
      padding: var(--spacer-base);
      overflow: auto;

      &::after {
        position: sticky;
        bottom: calc(var(--spacer-base) * 1 * -1);
        left: 0;
        display: block;
        width: 100%;
        height: 132px;
        content: '';

        @include transparent-gradient-to-top(#f4f4f4, 75%);
      }

      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 100%;
        padding: calc(var(--spacer-base) / 2);
      }
    }
  }

  &__closeButton {
    position: absolute;
    left: var(--spacer-base);
  }

  &-selected-link {
    position: relative;
    padding: calc(var(--spacer-base) / 2);
    background-color: var(--color-ui-02);
    border-radius: var(--border-radius-01);
    box-shadow: var(--box-shadow-02);
    margin-block-end: calc(var(--spacer-base) * 1);

    &__title {
      display: block;
      color: var(--color-text-01);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-text-21);
      margin-block-end: calc(var(--spacer-base) / 2);
    }

    .url-link-card {
      border: 1px solid var(--color-border-02);

      &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px !important;
        height: 16px !important;
        padding-block-start: calc(var(--spacer) / 2);

        svg {
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        font-size: var(--font-size-text-22);
      }
    }

    &__descriptionTextarea {
      .app-textarea {
        &__textarea {
          max-height: 128px;
          overflow: auto;
        }
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--spacer-base) / 2);
  }
}
