.review-search-form {
  position: relative;

  .form-item {
    position: relative;
    margin-block-end: var(--spacer-base);
  }

  &__urlInput {
    $vs-input: '.vs-input';
    --input-height: 56px;
    --input-font-size: var(--font-size-text-20);

    position: relative;
    border-radius: var(--border-radius-01);
    box-shadow: var(--box-shadow-01);

    #{$vs-input} {
      &-content {
        height: var(--input-height);

        input {
          width: 100%;
          height: 100%;
          font-size: var(--input-font-size);
        }
      }

      &__icon {
        height: var(--input-height);
      }

      &__label {
        font-size: var(--input-font-size);
      }
    }
  }

  &__submitButton {
    display: block;
    min-width: 148px;
    height: calc(56px - #{$spacer} * 2);
    padding: 0 calc(var(--spacer-base) / 4);
  }
}
